<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
     body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(216, 163, 82);
        }

        h1{
            text-align: center;
            background-color: rgb(189, 28, 213);
            color:white;
            padding: 30px;
        }
    </style>
</head>
<body>
    <h1>This is Home page</h1>
</body>
</html>